<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>DTPlatformVersion</key>
    <string>18.5</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>com.batonresearch.pump.expo.index_route</string>
    </array>
    <key>CFBundleName</key>
    <string>pumpfun</string>
    <key>DTSDKName</key>
    <string>iphoneos18.5</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We require access to your photos from your library to customize content and your profile to share with others</string>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>AppGreen</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppGreen</string>
        </dict>
        <key>AppDefault</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppDefault</string>
        </dict>
        <key>AppHalloweenOrange</key>
        <dict>
          <key>CFBundleIconName</key>
          <string>AppHalloweenOrange</string>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleDisplayName</key>
    <string>pump.fun</string>
    <key>FullStory</key>
    <dict>
      <key>OrgId</key>
      <string>o-1YWTMD-na1</string>
    </dict>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>phantom</string>
      <string>solflare</string>
      <string>robinhood</string>
      <string>mailto</string>
      <string>message</string>
      <string>readdle-spark</string>
      <string>airmail</string>
      <string>ms-outlook</string>
      <string>googlegmail</string>
      <string>inbox-gmail</string>
      <string>ymail</string>
      <string>superhuman</string>
      <string>yandexmail</string>
      <string>fastmail</string>
      <string>protonmail</string>
      <string>fb</string>
      <string>facebook-stories</string>
      <string>instagram</string>
      <string>twitter</string>
      <string>tiktoksharesdk</string>
      <string>tg</string>
      <string>whatsapp</string>
      <string>sms</string>
      <string>mailto</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
      <string>fetch</string>
      <string>audio</string>
      <string>processing</string>
    </array>
    <key>DTSDKBuild</key>
    <string>22F76</string>
    <key>NSCameraUsageDescription</key>
    <string>We require access to your camera to customize content and your profile to share with others</string>
    <key>CFBundleShortVersionString</key>
    <string>6.0.0</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <true/>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>24F74</string>
    <key>DTPlatformBuild</key>
    <string>22F76</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
      <string>com.expo.modules.backgroundtask.processing</string>
    </array>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>DTXcodeBuild</key>
    <string>16F6</string>
    <key>CFBundleVersion</key>
    <string>703</string>
    <key>MinimumOSVersion</key>
    <string>16.0</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>pumpfun would like to save photos to your photo gallery after downloading from a message.</string>
    <key>UIAppFonts</key>
    <array>
      <string>Inter_400Regular.ttf</string>
      <string>Inter_500Medium.ttf</string>
      <string>Inter_700Bold.ttf</string>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>We require access to your microphone to record audio to upload for sharing</string>
    <key>NSMotionUsageDescription</key>
    <string>Allow pumpfun to access your device motion to expand features in landscape mode.</string>
    <key>CFBundleIdentifier</key>
    <string>com.batonresearch.pump</string>
    <key>DTXcode</key>
    <string>1640</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>pumpfun</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Allow pumpfun to access your Face ID biometric data.</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>firebase_json_raw</key>
    <string>e30=</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.batonresearch.pump.appsflyer</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>pumpshare</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.batonresearch.pump.deeplink</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>pump</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>exp+pump-v2-mobile</string>
        </array>
      </dict>
    </array>
    <key>DTAppStoreToolsBuild</key>
    <string>17C503a</string>
  </dict>
</plist>
